body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0 auto; 
    max-width: 800px;
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }