* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

body {
  margin: 0 auto;
  max-width: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  margin: auto;
  height: 250px;
  width: 100%;
  background-color: darkgray;
  color: white;
  display: flex;
  align-items: center;
}

figure img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 80px;
  font-weight: normal;
}

.position {
  font-size: 40px;
  text-align: center;
}

h2 {
  background-color: lightgray;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

section {
  padding: 30px 0 0 0;
}

section p,
pre,
ul {
  padding: 20px;
}
ul {
  list-style-type: none;
}

li {
  padding: 3px;
}

footer {
  color: black;
  background-color: darkgray;
}

footer p {
  font-weight: bold;
  padding-left: 30px;
}

footer a {
  margin-left: 30px;
}
